body {
		padding-top: 80px;
		background-image: url("background.png");
 		background-repeat: no-repeat;
		background-size: cover;
		height: 50%;
}

#food {
	color: blue;
}
#Accessories {
  color: green;
}